# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/420/
/broadcast/*/29548/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
materials.txt

